.container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    justify-content: center;
    scroll-snap-align: start;
  
    span {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  
    img {
      width: 20px;
    }
  }
  
  .skillList {
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
    row-gap: 40px;
    max-width: 26ch;
  }
  
  hr {
    width: 300px;
    height: 10px;
    border-radius: 20px;
    background-color: var(--text-color);
    margin: 30px auto;
  }
  
  @media (width >= 800px) {
    .container{
        margin-top: 0px;
    }
    .skillList {
      max-width: fit-content;
      gap: 30px;
  
      p {
        font-size: 20px;
      }
    }
  
    hr {
      background-color: var(--text-color);
      width: 600px;
    }
  }